---
extends: presentation.j2
---
{% block timer %}
{% endblock timer %}
{% block slides %}
<div class="slide cover title">

<div class="cimage">
  <img src="graphics/norway-splash.png" />
</div>
<p><a href="http://barry.rowlingson.com/">Barry Rowlingson</a> |
&lt;<a href="mailto:b.rowlingson@gmail.com">b.rowlingson@gmail.com</a>&gt; | <code>@geospacedman</code> <br/>

  </p>
</div>

<div class="slide">

  <h1>Requirements</h1>
  <p>This course requires:
  <ul>
    <li>a Unix shell environment</li>
    <li>a working Python installation with a  number of extra packages</li>
    <li>an installation of QGIS with Python support.</li>
  </ul>
  </p>
  <p>
  The exact details of setting this up will depend mostly on your operating system, but also on
  other things you may have installed.
  </p>
<p>
The <a href="https://www.enthought.com/products/canopy/">Enthought Canopy</a> version of Python might be
  a solution for you.
  </p>
  
</div>

<div class="slide">
  <h1>Downloads</h1>
  <h2>From github</h2>
  <p>
  Everything is in a <a href="https://github.com/barryrowlingson/geostat/tree/gh-pages">github-pages</a>
  branch on github. You can check things out online there.
  </p>
  <p>Or you can <a href="https://github.com/barryrowlingson/geostat/archive/gh-pages.zip">download a Zip archive</a> of the current files.</p>
<p>Some tools are required to build the HTML pages from the source, but you shouldn't need to do that.</p>
</div>

<div class="slide">
<h1>Parts</h1>
  <h2>Three parts...</h2>
  <ul>
    <li><a href="unixshell.html">Unix shell utilities</a></li>
    <li><a href="geopython.html">Geospatial Python</a></li>
    <li><a href="qgis.html">QGIS programming</a></li>
  </ul>
</div>


{% endblock slides %}
