---
extends: presentation.j2
---
{% block timer %}
{% endblock timer %}
{% block slides %}


<div class="slide">
  <h1>Linux</h1>
  <ul>
    <li>You should already have a Unix shell environment - can you start a "Terminal" and type things?</li>
    <li>You probably already have python installed. Now get [long list of packages here]</li>
    <li>Install the latest stable QGIS from the <a href="http://www.qgis.org/">QGIS Web Site</a></li>
  </ul>
</div>

<div class="slide">
  <h1>Mac iOS</h1>
</div>

<div class="slide">
  <h1>Windows</h1>
</div>
  

  

{% endblock slides %}
